<div class="form-group">
  <label for="category">Filter By Category</label>
  <select onchange= {{action "filterCat" value="target.value"}} class="form-control" id="category">
    <option value="" selected>None</option>
    <option value="Portland" >Portland</option>
    <option value="Hipster" >Hipster</option>
  </select>
</div>
