body{
  a{
    color: #333;
    text-decoration: none;
    &:hover{
      color: #333;
      text-decoration: none;
    }
    .btn-primary{
      text-decoration-color: white;
    }
  }
  #title-well {
    margin-top: 20px;
    text-align: center;
  }
  .post{
    .img-center{
      text-align: center;
      img {
        height: 400px;
      }
    }
  }

}
