<div class="container">
  <div class="well" id="title"><h2>Welcome to Our Blog</h2></div>
  {{outlet}}
  <div class="well">
    <a href="/" class="btn btn-primary">Home</a>
    <a href="about/" class="btn btn-default">About</a>
    <a href="contact/" class="btn btn-success">Contact</a>
  </div>
</div>
