<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Posts:</h2>
  </div>

  <ul class="list-group">
    {{#each model as |blog|}}
        <li class="list-group-item">{{blog-tile blog=blog}}</li>
    {{/each}}
  </ul>
</div>
