<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Posts:</h2>
  </div>
{{blog-tile blogs=model.blogs}}
<ul>
{{#each model.comments as |comment|}}
  <li>{{comment.author}}</li>
{{/each}}
</ul>
</div>
